



.btn-group-sm>.btn, .btn-sm {
    padding: .1rem .30rem;
    font-size: .675rem;
    border-radius: .5rem;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 2px;
}

.table th {
    font-weight: 500;
    /* padding: 0.5px; */
    padding-top: 0.3px;
    padding-bottom: 0.3px;
}