<div class="row mt-5">
  <div class="col-12 col-xl-12 col-xxl-12 mb-4">
    <div class="row">
      <div class="col-12 mb-4">
        <div class="card border-0 shadow">

          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="fs-5 fw-bold mb-0">Lançar Limites </h2>
              </div>
              <div class="col text-end">
              </div>
            </div>
          </div>

          <div class="col-sm-12 mt-5 p-3">

            <form [formGroup]="gruposForm">
              <div class="row">

                <div class="col-sm-12 col-md-3" *ngFor="let grupo of grupos">
                  <div class="mb-3">
                    <label for="nome" class="form-label">GRUPO - {{ grupo.nome }}</label> 
                    <input type="number" [formControlName]="'grupo' + grupo.id"  class="form-control">
                  </div>
                </div>

                <!-- <input
                        type="radio"
                        id="modelo1"
                        value="modelo1"
                        name="modelo-card"
                        [(ngModel)]="'grupo' + grupo.id"
                      > -->

                <div class="col-sm-12 col-md-3">
                  <label>Valor Grama:</label>
                  <input type="number" 
                        class="form-control" 
                        name="valorGrama" 
                        [formControlName]="valorGrama"
                        [(ngModel)]="valorGrama" 
                        (input)="calculaTotal()" >
                </div>

                
                <div class="col-sm-12 col-md-3">
                  <label>Total em gramas:</label>
                  <input type="text" 
                      class="form-control" 
                      [formControlName]="totalSum"
                      name="totalSum" 
                      [value]="totalSum" readonly>
                </div>

                <div class="col-sm-12 col-md-3">
                  <label>Total em Reais:</label>
                  <input type="text" 
                  class="form-control" 
                  name="totalReais" 
                  [formControlName]="totalReais"
                  [(ngModel)]="totalReais" readonly>
                </div>

                
                <!--
                <div class="col-sm-12 col-md-3">
                  <label>Data Atual</label>
                  <input type="date" class="form-control" name="currentDate"  [(ngModel)]="currentDate" >
                </div> -->

              </div>
            </form>

          </div>
          <!-- <button type="submit" class="btn btn-primary m-2">Salvar</button>
          <button type="submit" class="btn btn-danger m-2" [routerLink]="['/dashboard/parceiro']">Cancelar</button> -->

        </div>

      </div>
    </div>

  </div>
</div>
