<div class="row mt-5">
    <div class="col-12 col-xl-12 col-xxl-12 mb-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Usuario Adicionar</h2>
                            </div>
                            <div class="col text-end">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-5 p-3">
                        <form (ngSubmit)="onSubmit()" [formGroup]="usuarioForm">
                          <div class="row">

                            <!-- <div class="col-sm-12 col-md-2">
                              <div class="mb-3">
                                <label for="cnpj" class="form-label">CPF</label>
                                <input type="text" class="form-control" id="cgc" formControlName="cgc" placeholder="Digite o cgc" maxlength="14">
                                <div *ngIf="usuarioForm.get('cgc')?.invalid && usuarioForm.get('cgc')?.touched">
                                    <div class="text-danger" *ngIf="usuarioForm.get('cgc')?.hasError('required')">CNPJ é obrigatório.</div>
                                    <div class="text-danger" *ngIf="usuarioForm.get('cgc')?.hasError('minlength')">Minimo 11 digitos CPF.</div>
                                    <div class="text-danger" *ngIf="usuarioForm.get('cgc')?.hasError('maxLength')">Minimo 14 digitos CNPJ.</div>
                                    <div class="text-danger" *ngIf="usuarioForm.get('cgc')?.hasError('pattern')">CNPJ deve ter 14 dígitos numéricos.</div>
                                </div>
                              </div>
                            </div> -->

                            <div class="col-sm-12 col-md-3">
                              <div class="mb-3">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Digite o nome da parceiro">
                                <div *ngIf="usuarioForm.get('nome')?.invalid && usuarioForm.get('nome')?.touched">
                                    <div class="text-danger" *ngIf="usuarioForm.get('nome')?.hasError('required')">NOME é obrigatório.</div>
                                    <div class="text-danger" *ngIf="usuarioForm.get('nome')?.hasError('pattern')">NOME deve ter 14 dígitos numéricos.</div>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="mb-3">
                                  <label for="nome" class="form-label">Email</label>
                                  <input type="text" class="form-control" id="email" formControlName="email" placeholder="Digite o email da parceiro">
                                  <div *ngIf="usuarioForm.get('email')?.invalid && usuarioForm.get('email')?.touched">
                                      <div class="text-danger" *ngIf="usuarioForm.get('email')?.hasError('required')">email é obrigatório.</div>
                                      <div class="text-danger" *ngIf="usuarioForm.get('email')?.hasError('pattern')">email deve ter 14 dígitos numéricos.</div>
                                  </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="mb-3">
                                  <label for="nome" class="form-label">Telefone</label>
                                  <input type="text" class="form-control" id="telefone" formControlName="telefone" placeholder="Digite o telefone da parceiro">
                                  <div *ngIf="usuarioForm.get('telefone')?.invalid && usuarioForm.get('telefone')?.touched">
                                      <div class="text-danger" *ngIf="usuarioForm.get('telefone')?.hasError('required')">telefone é obrigatório.</div> 
                                  </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="mb-3">
                                  <label for="nome" class="form-label">Senha</label>
                                  <input type="text" class="form-control" id="password" formControlName="password" placeholder="Digite o password da parceiro">
                                  <div *ngIf="usuarioForm.get('password')?.invalid && usuarioForm.get('password')?.touched">
                                      <div class="text-danger" *ngIf="usuarioForm.get('password')?.hasError('required')">password é obrigatório.</div> 
                                  </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="mb-3">
                                    <label for="nome" class="form-label">Interno</label>
                                    <select class="form-select" aria-label="Default select example"  id="interno" formControlName="interno" >
                                        <option value="true">Sim</option>
                                        <option value="false">Não</option>
                                    </select>
                                    <div *ngIf="usuarioForm.get('ativo')?.invalid && usuarioForm.get('ativo')?.touched">
                                        <div class="text-danger" *ngIf="usuarioForm.get('ativo')?.hasError('required')">Ativo é obrigatório.</div> 
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="mb-3">
                                    <label for="nome" class="form-label">Ativo</label>
                                    <select class="form-select" aria-label="Default select example"  id="ativo" formControlName="ativo" >
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                    <div *ngIf="usuarioForm.get('ativo')?.invalid && usuarioForm.get('ativo')?.touched">
                                        <div class="text-danger" *ngIf="usuarioForm.get('ativo')?.hasError('required')">Ativo é obrigatório.</div> 
                                    </div>
                                </div>
                            </div>


                          </div>
                          <button type="submit" class="btn btn-primary m-2">Salvar</button>
                          <button type="submit" class="btn btn-danger m-2" [routerLink]="['/dashboard/usuario']">Cancelar</button>
                        </form>
                      </div>
                      
                </div>
            </div>

        </div>
    </div>


</div>